<div class="not-prose">
  <ol>
    {{- range . }}
    {{ $isNote := .Params.isNote }}
      <li class="mb-6">
         <article class="flex flex-col space-y-1">
          <header>
            <h3 class="text-lg font-semibold leading-none">
              <a
                href="{{ .RelPermalink }}"
                class="underline decoration-slate-300 decoration-2 underline-offset-4 hover:decoration-inherit"
                >{{ .Title }}</a
              >
            </h3>
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
            {{- $dateHuman := .Date | time.Format (default ":date_long" .Site.Params.dateFormat) -}}
            <time class="text-sm italic leading-5 opacity-80" datetime="{{ $dateMachine }}"
              >{{ $dateHuman }}</time
            >
          </header>
          {{ if $isNote }}
            <div class="text-sm spaced">{{ .Content }}</div>
            <div class="text-sm italic opacity-70">/* End of post */<div>
          {{ else }}
            <div class="text-sm">{{ .Summary }}</div>
            <a href="{{ .RelPermalink }}" class="text-sm italic opacity-70 no-underline">
              » Read more
            </a>
          {{ end }}
        </article>
      </li>
    {{- end }}
  </ol>
</div>
